body { background: #19ee04; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 14px; display: flex; }
.block-notify-0 { color: #81220e; font-size: 18px; margin-bottom: 5px; }
.block-cache-1 { color: #6c3170; font-size: 21px; margin-bottom: 5px; }
.block-helper-2 { color: #af9ed7; font-size: 13px; margin-bottom: 5px; }
.block-config-3 { color: #b1e0f7; font-size: 18px; margin-bottom: 5px; }
.block-metrics-4 { color: #938774; font-size: 17px; margin-bottom: 5px; }
.block-config-5 { color: #9076f8; font-size: 15px; margin-bottom: 5px; }